.imgcontainer{
    width : 27rem ;
    height : 20rem ;
}
.card {
    width : 500px ;
}

.achiveContainer{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    flex-wrap: wrap;
    gap : 1rem;
    background: url('../../../img/background.jpg');
    background-position: left ;
    background-repeat: no-repeat;
    background-size: auto;
}
