.skillsContainer{
    display: flex;
    border : 2px solid black  ;
    border-radius: 10rem ;
    box-shadow : 1px 3px 4px 1px #433878;
    justify-content: center;
    align-items: center;
    width : 12rem;
    height : 5rem ;
}

.skillcontainer{
    display: flex ;
    /* border : 2px solid black ; */
    height : 25rem ;
    width  : 60rem ;
    justify-content: center;
    align-items: center ;
    flex-wrap : wrap;
    gap : 1rem ;
    
}